* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  padding: 0 50px;
  max-width: 500px;
  position: relative;
  width: 100%;
}

.test {
  display: flex;
  flex-wrap: wrap;
}

.first {
  h1 {
    font-size: 52px;
    color: #ffa502;
    text-shadow: 3px 3px 5px #000000;
    text-align: center;
  }

  h2 {
    text-align: center;
    margin-top: 100px;
  }

  p {
    line-height: 25px;
    text-align: justify;
    padding: 20px 70px;
  }
}
